<h2>Sign up</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :autofocus => true, :label => t('.name') %> 
  <%= f.input :email, :required => true, :label => t('.email') %>
  <%= f.input :password, :required => true, :label => t('.password')%>
  <%= f.input :password_confirmation, :required => true, :label => t('.password_confirmation') %>
  <%= f.button :submit, 'REGISTRO', :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>
