<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Order details</h1>
<table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Size</th>
        <th>Brand</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>

    <% @order.line_items.each do |item| %>
      <% @photo = Photo.find(item.photo_id) %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= @photo.color %></td>
        <td><%= item.product.size %></td>
        <td><%= item.product.brand %></td>
        <td>
          <%= item.quantity %>
        </td>
        <td class="item_price" id="item_price_<%=item.id%>" ><%= item.total_price %>€</td>
      </tr>
    
      <tr class="total_line" >
        <td colspan="4" ></td>
        <td class="total_cell" >Total: <span id="cart_total_price"><%= @order.total_price %>€</span></td>
      </tr>
    <% end %>

<table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Tel</th>
      </tr>
    </thead>
    <tr>
      <td><%= @order.name %></td>
      <td><%= @order.address %></td>
      <td><%= @order.tel %></td>
    </tr>
  </table>
  <p>To admin the order, just follow this link: <%= @url %>.</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
