<p id="notice"><%= notice %></p>

<p>
  <b>Contact state:</b>
  <%= @constant_text.contact_state %>
</p>

<p>
  <b>Pay state:</b>
  <%= @constant_text.pay_state %>
</p>

<p>
  <b>Store intro:</b>
  <%= @constant_text.store_intro %>
</p>

<p>
  <b>Who we are:</b>
  <%= @constant_text.who_we_are %>
</p>

<p>
  <b>How to buy:</b>
  <%= @constant_text.how_to_buy %>
</p>

<p>
  <b>Delivery area:</b>
  <%= @constant_text.delivery_area %>
</p>

<p>
  <b>Privacy state:</b>
  <%= @constant_text.privacy_state %>
</p>

<p>
  <b>Changes state:</b>
  <%= @constant_text.changes_state %>
</p>

<p>
  <b>Cookies state:</b>
  <%= @constant_text.cookies_state %>
</p>

<p>
  <b>Welcome state:</b>
  <%= @constant_text.welcome_state %>
</p>


<%= link_to 'Edit', edit_constant_text_path(@constant_text) %> |
<%= link_to 'Back', constant_texts_path %>
