<%= simple_form_for @banner, multipart: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :visiable, collection: ['true','false'] %>
    <%= f.file_field :image %>
    <%= f.submit 'Save' %>
  </div>
<% end %>
