<% @photos = product.photos %>
<div class="product_box">
  <div class="photo">
    <%= link_to image_tag(@photos[0].image_url(:thumb)), product %>
  </div>
  <div>
    <p>
      <% for photo in @photos %>
        <%= image_tag(photo.image_url(:small)) %>
      <% end %>
    </p>
  </div>
  <div class="price">
    <s><%= product.price %>€</s>
    <span><%= (product.price*(100-product.discount)/100).round(1)%>€</span>
  </div>

  <div class="description">
    <span> <%= product.description.split(" ")[0,8].join(" ") %>...</span>
  </div>

  <% if product.size %>
    <p><span class="small_font"><%= t('.size')%></span>
      <span><%= product.size %></span>
    </p>
   <% end %>
</div>
