<div id="category_bar" class="category_bar" >
  <div class="title">
    <a>所有商品分类</a>
    <a class="pull-right" href='javascript:void(0)' id="open_all_collapse"><i class="icon-list"></i></a>
    <a class="pull-right" href='javascript:void(0)' id="close_all_collapse"><i class="icon-th"></i></a>
  </div>
  <div>

    <ul class="category_list">
      <% flag = 0 %>
      <% @categories.each do |category| %>
        <% if flag%2 == 0 %>
          <li class="list-item0">
        <% else %>
          <li class="list-item0 alt">
        <% end %>
        <% flag = flag + 1 %>
        <div class="menuIcon">
          <% category.sub_categories.each do |sub_category| %>
            <div class="sub_category_item">
              <p><%= sub_category.name %></p>
              ---------------------------
              <p>
              <% sub_category.sub_sub_categories.each do |sub_sub_category| %>
                <a href="http://www.cortechino.com"><%= sub_sub_category.name %></a>
              <% end %>
              </p>
            </div>
          <% end %>
        </div>
        <a  data-toggle="collapse" href="#item_<%= category.id %>"><%= category.name %></a>
        <div id="item_<%= category.id %>" class="collapse in">
          <p>
            <% category.sub_categories.each do |sub_category| %>
              <a href="http://www.cortechino.com"><%= sub_category.name %></a>
            <% end %>
          </p>
        </div>
        </li>
      <% end %>

    </ul>
  </div>

</div>
<script>
$('#close_all_collapse').click(function(){
  $(".collapse").collapse('hide');
  $(this).removeAttr('href');
  $('#open_all_collapse').attr("href", "javascript:void(0)");
});

$('#open_all_collapse').click(function(){
  $(".collapse").collapse('show');
  $(this).removeAttr('href');
  $('#close_all_collapse').attr("href", "javascript:void(0)");
});

$(function(){
  $(window).scroll(function(){
    if ($(window).scrollTop() > 500){
      $(".collapse").collapse('hide');
    }
    else{
      $(".collapse").collapse('show');
    }

  });
});

$(function(){
  $(document).on("mouseover", ".category_list > li", function(e){
    var thisLi = this;
    var timeOut = setTimeout(function(){
      showSubList(thisLi);
    }, 100);
    $(thisLi).children(".menuIcon").hover(
      function(){
      //如果悬浮在.menuIcon上，则showSubList(thisLi)
        clearTimeout(timeOut);
      }, function(){
      //如果没有悬浮在.menuIcon上， 则hideSubList(thisLi)
        hideSubList(thisLi);
      });
    //防止事件冒泡
     e.stopPropagation();
  });
  $(document).on("mouseout", ".category_list > li", function(){
    var thisLi = this;
    $(this).removeClass("curr");
    var timeOut = setTimeout(function(){
      hideSubList(thisLi);
    }, 100);

    $(thisLi).children(".menuIcon").hover(
    function(){
      clearTimeout(timeOut);
    }, function(){
      hideSubList(thisLi);
    });
    e.stopPropagation();
  });
});

function showSubList(thisLi) {
  $(thisLi).prepend('<div class="menuIcon"></div>');
  $(thisLi).addClass("curr");

}

function hideSubList(thisLi) {
  $(thisLi).children(".menuIcon").remove();
  $(thisLi).removeClass("curr");
}
</script>
