<div id="category_bar" class="category_bar" >
  <div class="title">
    <a><%= t('.category_list')%></a>
    <a class="pull-right" href='javascript:void(0)' id="open_all_collapse"><i class="icon-list"></i></a>
    <a class="pull-right" href='javascript:void(0)' id="close_all_collapse"><i class="icon-th"></i></a>
  </div>
  <div>

    <ul class="category_list">
      <% flag = 0 %>
      <% @categories.each do |category| %>
        <% if flag%2 == 0 %>
          <li class="list-item0">
        <% else %>
          <li class="list-item0 alt">
        <% end %>
        <% flag = flag + 1 %>
        <div class="menuIcon">
          <% category.sub_categories.each do |sub_category| %>
            <div class="sub_category_item">
              <div class="item_header">
                <%= sub_category.name %>
              </div>
              <% sub_category.sub_sub_categories.each do |sub_sub_category| %>
                <%= link_to sub_sub_category.name, root_path(:search => sub_sub_category.name) %>
                <span class="">|</span>
              <% end %>
            </div>
          <% end %>
        </div>
        <%= link_to category.name, root_path(:search => category.name) %>
        <div id="item_<%= category.id %>" class="collapse in">
          <p>
            <% category.sub_categories.each do |sub_category| %>
              <%= link_to sub_category.name, root_path(:search => sub_category.name) %>
            <% end %>
          </p>
        </div>
        </li>
      <% end %>

    </ul>
  </div>

</div>
<script>
 $(function(){
  $(".menuIcon").hide();
  $(".collapse").collapse("hide");
});
</script>
<script>
$('#close_all_collapse').click(function(){
  $(".collapse").collapse('hide');
  $(this).removeAttr('href');
  $('#open_all_collapse').attr("href", "javascript:void(0)");
});

$('#open_all_collapse').click(function(){
  $(".collapse").collapse('show');
  $(this).removeAttr('href');
  $('#close_all_collapse').attr("href", "javascript:void(0)");
});

$(function(){
  $(window).scroll(function(){
    if ($(window).scrollTop() > 105){
      $(".category_bar").addClass("category_bar_fixed");
      $(".main_container").removeClass("main_container_before_bar_fixed");
      $(".main_container").addClass("main_container_after_bar_fixed");
    }
    else{
      $(".category_bar").removeClass("category_bar_fixed");
      $(".main_container").addClass("main_container_before_bar_fixed");
      $(".main_container").removeClass("main_container_after_bar_fixed");
    }
    if ($(window).scrollTop() > 500){
      $(".collapse").collapse('hide');
    }
    else{
      $(".collapse").collapse('show');
    }

  });

});
/*
这样写有问题，当menuIcon中有其他时间发生(比如有链接，当鼠标在链接与普通文本之间频繁切换）(吧毕比如比如比如有哟有有罗里俩连链接练级链接链接三是是是三，的大但当当三是数书包数毕数毕啊数变数毕啊数毕数毕哦数毕数毕啊鼠标鼠标在噈在在下罗里俩连链接练级链接链接有与与篇普普通普通哦普通哦你普通普通吧我巍峨文文本文本额文本文本在文本这文本只文本直接文本之际文本之家文本之间文本之间篇皮品平平凡平发平凡平发平凡平品频繁贫乏频繁频繁去奇切切换切胡切话切换切换）(吧毕比如比如比如有哟有有罗里俩连链接练级链接链接三是是是三，的大但当当三是数书包数毕数毕啊数变数毕啊数毕数毕哦数毕数毕啊鼠标鼠标在噈在在下罗里俩连链接练级链接链接有与与篇普普通普通哦普通哦你普通普通吧我巍峨文文本文本额文本文本在文本这文本只文本直接文本之际文本之家文本之间文本之间篇皮品平平凡平发平凡平发平凡平品频繁贫乏频繁频繁去奇切切换切胡切话切换切换）(吧毕比如比如比如有哟有有罗里俩连链接练级链接链接三是是是三，的大但当当三是数书包数毕数毕啊数变数毕啊数毕数毕哦数毕数毕啊鼠标鼠标在噈在在下罗里俩连链接练级链接链接有与与篇普普通普通哦普通哦你普通普通吧我巍峨文文本文本额文本文本在文本这文本只文本直接文本之际文本之家文本之间文本之间篇皮品平平凡平发平凡平发平凡平品频繁贫乏频繁频繁去奇切切换切胡切话切换切换）(吧毕比如比如比如有哟有有罗里俩连链接练级链接链接三是是是三，的大但当当三是数书包数毕数毕啊数变数毕啊数毕数毕哦数毕数毕啊鼠标鼠标在噈在在下罗里俩连链接练级链接链接有与与篇普普通普通哦普通哦你普通普通吧我巍峨文文本文本额文本文本在文本这文本只文本直接文本之际文本之家文本之间文本之间篇皮品平平凡平发平凡平发平凡平品频繁贫乏频繁频繁去奇切切换切胡切话切换切换）(吧毕比如比如比如有哟有有罗里俩连链接练级链接链接三是是是三，的大但当当三是数书包数毕数毕啊数变数毕啊数毕数毕哦数毕数毕啊鼠标鼠标在噈在在下罗里俩连链接练级链接链接有与与篇普普通普通哦普通哦你普通普通吧我巍峨文文本文本额文本文本在文本这文本只文本直接文本之际文本之家文本之间文本之间篇皮品平平凡平发平凡平发平凡平品频繁贫乏频繁频繁去奇切切换切胡切话切换切换）(吧毕比如比如比如有哟有有罗里俩连链接练级链接链接三是是是三，的大但当当三是数书包数毕数毕啊数变数毕啊数毕数毕哦数毕数毕啊鼠标鼠标在噈在在下罗里俩连链接练级链接链接有与与篇普普通普通哦普通哦你普通普通吧我巍峨文文本文本额文本文本在文本这文本只文本直接文本之际文本之家文本之间文本之间篇皮品平平凡平发平凡平发平凡平品频繁贫乏频繁频繁去奇切切换切胡切话切换切换）(吧毕比如比如比如有哟有有罗里俩连链接练级链接链接三是是是三，的大但当当三是数书包数毕数毕啊数变数毕啊数毕数毕哦数毕数毕啊鼠标鼠标在噈在在下罗里俩连链接练级链接链接有与与篇普普通普通哦普通哦你普通普通吧我巍峨文文本文本额文本文本在文本这文本只文本直接文本之际文本之家文本之间文本之间篇皮品平平凡平发平凡平发平凡平品频繁贫乏频繁频繁去奇切切换切胡切话切换切换）(吧毕比如比如比如有哟有有罗里俩连链接练级链接链接三是是是三，的大但当当三是数书包数毕数毕啊数变数毕啊数毕数毕哦数毕数毕啊鼠标鼠标在噈在在下罗里俩连链接练级链接链接有与与篇普普通普通哦普通哦你普通普通吧我巍峨文文本文本额文本文本在文本这文本只文本直接文本之际文本之家文本之间文本之间篇皮品平平凡平发平凡平发平凡平品频繁贫乏频繁频繁去奇切切换切胡切话切换切换）/ $(thisLi).prepend('<div class="menuIcon"></div>');
$(function(){
  $(document).on("mouseover", ".category_list > li", function(e){
    var thisLi = this;
    $(thisLi).addClass("curr");
    var timeOut = setTimeout(function(){
      showSubList(thisLi);
    }, 100);
    $(thisLi).children(".menuIcon").hover(
      function(){
      //如果悬浮在.menuIcon上，则showSubList(thisLi)
        clearTimeout(timeOut);
      }, function(){
      //如果没有悬浮在.menuIcon上， 则hideSubList(thisLi)
        hideSubList(thisLi);
      });
    //防止事件冒泡
     e.stopPropagation();
  });
  $(document).on("mouseout", ".category_list > li", function(){
    var thisLi = this;
    $(thisLi).removeClass("curr");
    $(this).removeClass("curr");
    var timeOut = setTimeout(function(){
      hideSubList(thisLi);
    }, 100);

    $(thisLi).children(".menuIcon").hover(
    function(){
      clearTimeout(timeOut);
    }, function(){
      hideSubList(thisLi);
    });
    e.stopPropagation();
  });
});
*/
$(function(){
  $(document).on({
    mouseover:function(){
      $(this).addClass("curr");
      showSubList(this);
    },
    mouseout:function(){
      $(this).removeClass("curr");
      hideSubList(this);
    }
   }, ".category_list > li")
});
$(function(){
  $('.category_list > li').hover(
    function(){
      $(this).children(".collapse").collapse('show');
      $(this).children("a").addClass("white_font");
      $(this).children(".collapse").find("a").addClass("white_font");
    },function(){
      $(this).children(".collapse").collapse('hide');
      $(this).children("a").removeClass("white_font");
      $(this).children(".collapse").find("a").removeClass("white_font");
    }
  );
});
function showSubList(thisLi) {
 // $(thisLi).prepend('<div class="menuIcon"></div>');
  $(thisLi).children("div.menuIcon").show();
  $('.sub_category_item').wookmark({
    align: 'left',
    direction: 'left',
    offset: 3,
    container: $(thisLi).children("div.menuIcon"),
    itemWidth: 200
  });
}

function hideSubList(thisLi) {
  //$(thisLi).children(".menuIcon").remove();
  $(thisLi).children("div.menuIcon").hide();
}
</script>
