<%= render 'stylesheet' %>
<p id="notice"><%= notice %></p>

<p>
  <%= render 'carts/cart', :cart => @order %>
</p>

<table class="table table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Tel</th>
      </tr>
    </thead>
    <tr>
      <td><%= @order.name %></td>
      <td><%= @order.address %></td>
      <td><%= @order.tel %></td>
      <td><%= link_to 'finished', order_path(@order), :method => :put %></td>
    </tr>
  </table>

<%= link_to 'Back', orders_path %>
