<div class="nested-fields sub_category">
  <table>
    <tr>
      <td>
        <%= f.input :name, :label => false %>
      </td>
      <td>
        <%= link_to_remove_association "remove sub_category", f %>
      </td>
    </tr>
  </table>

  <div class="sub_sub_categories">
    <%= f.simple_fields_for :sub_sub_categories do |sub_sub_category| %>
      <%= render 'sub_sub_category_fields', :f => sub_sub_category %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add sub_sub_category', f, :sub_sub_categories %>
    </div>
  </div>
</div>
