<%= simple_form_for @product, multipart: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description, :as => :text, :label => "商品信息", :rows => 5 %>
    <%= f.input :price, :label => "价格", :required => true %>
    <%= f.input :size, :label => "净含量" %>
    <%= f.input :brand, :label => "品牌" %>
    <%= f.input :discount, :label => "折扣" %>
    <%= f.input :stock, :label => "库存量" %>
    <%= f.association :category, collection: Category.all,
                      include_blank: true,
                      label: "类别",
                      required: true,
                      input_html: { class: 'chosen-select' } %>
    <%= f.simple_fields_for :photos do |photo| %>
      <%= render 'photo_fields', :f => photo %>
    <% end %>

    <div class="links">
      <%= link_to_add_association '增加图片', f, :photos %>
    <div>
    <div class="actions submit_btn">
      <%= f.button :submit, :disable_with => '请等待 ...' %>
    </div>
  </div>

<% end %>

<script>
  $(function(){
    $('.chosen-select').chosen();
  });
</script>

