<%= simple_form_for @product, multipart: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :size %>
    <%= f.input :price, :required => true %>
    <%= f.input :brand %>
    <%= f.input :discount %>
    <%= f.input :description, :as => :text, :rows => 5 %>
    <%= f.input :stock %>
    <%= f.association :sub_sub_category, collection: SubSubCategory.all,
                      include_blank: true,
                      required: true,
                      input_html: { class: 'chosen-select' } %>
    <%= f.simple_fields_for :photos do |photo| %>
      <%= render 'photo_fields', :f => photo %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add photo', f, :photos %>
    <div>
    <div class="actions submit_btn">
      <%= f.button :submit, :disable_with => 'please wait ...' %>
    </div>
  </div>

<% end %>

<script>
  $(function(){
    $('.chosen-select').chosen();
  });
</script>

