<div style="margin-top: 30px;"></div>
<h1>New product</h1>

<%= render 'form' %>

<%= link_to 'Back', products_path %>


<h2> Import Products </h2>
<%= form_tag import_products_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<script>
  $(function(){
  $('.links > a').click();
  });
</script>
