<div class="span4 pull-left" id="photo">
  <%= image_tag(@product.photos[0].image_url(:big)) %>
</div>
<div class="span6 pull-left product_info">
  <p class="description"><%= @product.description%></p>
  <p style="margin-bottom: 20px;"><span class="small_font"><%= t('.price') %></span>
     <s><%= @product.price %>€</s>
     <span style="color: red"><%= (@product.price*(100-@product.discount)/100).round(1)%>€</span>
  </p>
  <p><span class="small_font">Name</span>
     <span><%= @product.name %></span>
  </p>
  <% if @product.brand.to_s != "" %>
    <p><span class="small_font"><%= t('.brand')%></span>
      <span><%= @product.brand %></span>
    </p>
   <% end %>
      <p><span class="small_font"><%= t('.color')%></span>
      <% @photos = @product.photos %>
      <% for i in 0...@photos.size() %>
        <% @photo = @photos[i] %>
        <% if i == 0 %>
          <%= link_to(image_tag(@photo.image_url(:small), class: "color_selected"), change_color_path(:id => @photo.id), class: "color_alt", id: "photo_"+@photo.id.to_s,:remote => true) %>
        <% else %>
          <%= link_to(image_tag(@photo.image_url(:small)), change_color_path(:id => @photo.id), class: "color_alt", id: "photo_"+@photo.id.to_s,:remote => true) %>
        <% end %>

      <% end %>
    </p>
  <% if @product.size.to_s != "" %>
    <p><span class="small_font"><%= t('.size') %></span>
      <span><%= @product.size %></span>
    </p>
   <% end %>

  <%= form_for(@product.line_items.build(product_id: @product.id, photo_id: @photos[0].id)) do |f|%>
    <%= f.label :quantity, t('.quantity') %>
    <%= f.text_field :quantity %>
    <%= f.hidden_field :product_id%></br>
    <%= f.hidden_field :photo_id %>
    <%= f.submit t('.add_to_cart'), :class => "btn" %>
  <% end %>
</div>
<div style="clear: both">
  <div style="height: 40px; line-height: 40px; font-size: 18px; font-weight: bold;border: 1px solid #ddd">
    Productos Similares
  </div>
  <% @similar_products = @product.similar_products %>
  <% @similar_products.each do |product| %>
    <%= render 'home/product_item', :product => product %>
  <% end %>
</div>
