<div class="span4 pull-left">
  <%= image_tag(@product.image_url(:big)) %>
</div>
<div class="span6 pull-left product_info">
  <p class="name"><%= @product.name %></p>
  <p class="description"><%= @product.description%></p>
  <p style="margin-bottom: 20px;"><span class="small_font">价格</span>
     <span>$<%= @product.price %></span>
  </p>
  <p><span class="small_font">折扣</span>
     <span><%= @product.discount %></span>
  </p>
  <% if @product.brand %>
    <p><span class="small_font">品牌</span>
      <span><%= @product.brand %></span>
    </p>
   <% end %>
  <% if @product.color %>
    <p><span class="small_font">颜色</span>
      <span><%= @product.color %></span>
    </p>
   <% end %>
  <% if @product.size %>
    <p><span class="small_font">尺寸</span>
      <span><%= @product.size %></span>
    </p>
   <% end %>

  <%= form_for(@product.line_items.build(product_id: @product.id)) do |f|%>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
    <%= f.hidden_field :product_id%></br>
    <%= f.submit "Add to Cart", :class => "btn" %>
  <% end %>
</div>
