<div class="footer">
  <div class="welcome">
    <%= ConstantText.find(1).welcome_state %>
  </div>
  <div class="footer_links">
    <%= link_to 'Contact', contact_state_constant_text_path(1) %>
    <%= link_to 'Store', store_intro_constant_text_path(1) %>
    <%= link_to 'Who we are', who_we_are_constant_text_path(1) %>
    <%= link_to 'How to buy', how_to_buy_constant_text_path(1) %>
    <%= link_to 'Pay', pay_state_constant_text_path(1) %>
    <%= link_to 'Delivery area', delivery_area_constant_text_path(1) %>
    <%= link_to 'Changes', changes_state_constant_text_path(1) %>
    <%= link_to 'Privacy', privacy_state_constant_text_path(1) %>
    <%= link_to 'Cookies', cookies_state_constant_text_path(1) %>
  </div>
  <div class="copyright">
    ®CorteChino 2013
  </div>
</div>
