<div class="header">
  <div class="header_content">
    <div class="logo">
      <h2><%= link_to 'CorteChino', root_path %></h2>
    </div>

    <div class="header-right pull-right">
      <div class="header-right-top">
        <% if session[:cart_id] %>
          <span>
            <span style="font: bolder"><%= Cart.find(session[:cart_id]).total_quantity %></span>
            <i class="icon-shopping-cart icon-white"></i>
            <%= link_to t('.shopping_cart'), cart_path(session[:cart_id]) %> 
          </span>
        <% else %>
          <span>
            <span style="font: bolder">0</span>
            <i class="icon-shopping-cart"></i>
            <%= t('.shopping_cart') %>
          </span>
        <% end %>
        <span>
          Tel: <span style="font-style: bolder; font-size: 13px;"> 0034-633877687 </span>
        </span>
        <% if user_signed_in? %>
          <%= link_to t('.logout'), destroy_user_session_path, :method=>'delete' %>        
        <% else %>
          <%= link_to t('.login'), new_user_session_path %>  
          <%= link_to 'Sign up', new_user_registration_path %>
        <% end %>
        <% if user_signed_in? %>
          <!--
            -->
          <% if current_user.has_role? :admin %>
            <ul class="nav_admin pull-right">
              <li class="dropdown" >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t('.admin') %><i class="icon-user"></i>
              </a>
              <ul class="dropdown-menu" style="z-index: 1000">
                <li>
                  <%= link_to t('.edit_account'), edit_user_registration_path %>
                </li>
                <li>
                  <%= link_to t('.admin_user'), users_path %>
                </li>
                <li>
                <%= link_to t('.admin_product'), products_path %>
                </li>
                <li>
                <%= link_to t('.admin_order'), orders_path %>
                </li>
                <li>
                <%= link_to t('.admin_category'), categories_path %>
                </li>
                <li>
                <%= link_to t('.admin_banner'), banners_path %>
                </li>
                <li>
                <%= link_to t('.admin_short_supply'), short_supply_registrations_path %>
                </li>
                <li>
                <%= link_to 'Admin ConstantText', constant_texts_path %>
                </li>
              </ul>
            <% end %>
          <% else %>
          <% end %>
        </ul>

        <%= link_to t('.short_supply'), new_short_supply_registration_path %>
      </div>

      <div class="header-right-bottom pull-right">
        <% if controller_name == "home"%>
          <%= form_tag('/', method: :get) do %>
            <%= text_field_tag(:search, nil, :placeholder => "input product name or category") %>
            <%= submit_tag(t(".search"), class: "btn search_btn") %>
          <% end %>
        <% elsif controller_name == "products" && action_name == "index" %>
          <%= form_tag("/products", method: :get) do %>
            <%= text_field_tag(:search, nil, :placeholder => "input name or brand or category") %>
            <%= submit_tag("Search", class: "btn search_btn") %>
          <% end %>
        <% elsif controller_name == "short_supply_registrations" && action_name == "index" %>
          <%= form_tag("/short_supply_registrations", method: :get) do %>
            <%= text_field_tag(:search, nil, :placeholder => "input name or brand or tel") %>
            <%= submit_tag("Search", class: "btn search_btn") %>
          <% end %>
        <% elsif controller_name == "orders" && action_name == "index" %>
          <%= form_tag("/orders", method: :get) do %>
            <%= text_field_tag(:search, nil,:placeholder => "input name or tel") %>
            <%= submit_tag("Search", class: "btn search_btn") %>
          <% end %>
        <% else %>
          <%= form_tag('/', method: :get) do %>
            <%= text_field_tag(:search, nil, :placeholder => "input product name") %>
            <%= submit_tag("Search", class: "btn search_btn") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
